---
---

@import "{{ site.theme }}"

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    font-size: 12px;
    line-height: 30px;
}
nav a {
    text-decoration: none;
}
nav li.active a {
    color: #ffffff;
}